<!-- index.html -->
<!DOCTYPE html>
<html lang = "en">
  <head>
    <script type="text/javascript" src="js/javascript.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Speed dejting</title>
    <meta charset="utf-8"/>
  </head>
  <body id="body">
    <header id="header">
      <h1>Speed dejting</h1>
    </header>
    <main id="main">
      <div id="beginEvent">

      </div>
      <div id="beginEventButton" v-on:click="beginEvent">
	<h2>BEGIN EVENT</h2>
      </div>
      <div id="exitEventButton" v-on:click="exitEvent">
	<h2>EXIT EVENT</h2>
      </div>

      <div id="myDates">
	<h2>Your dates</h2>
	<h3>Who do you want to share your contact information with?</h3>
	<div v-for="date in myDates">
	  <label for="date.name">{{date.name}}</label>
	  <input type="checkbox" v-model="sendContactInfo" v-bind:value="date.dateNumber" v-bind:id="date.name">
	</div>
	<div id="sendContactInfoButton" v-on:click="sendContactInfoFunction()">
	  <p>Send my information</p>
	</div>
      </div>
      

      <div id="waitingScreen">
	<h2>WAITING FOR ALL PARTICIPANTS TO CREATE A PROFILE</h2>
	<br>
	<button id="startDateTEMP" type="button" v-on:click="dateViewTemp">
	  <p>TEMP</p>	  
	</button>
      </div>
      <div id="dateInProgressTemp">
	<h2>REARRANGE DATE MATCHES</h2>
	<div id="currentDateInfo">
	  <p class="dTitle"></p>
    <button id="name1" type="button">
	    <p class="dInfo">{{currentDate.name}}</p>
      </button>

	</div>
      </div>

    </main>
    <footer id="footer">
      <hr>
      <p>&copy 2020 System of a Design</p>
    </footer>
  </body>
</html>
