/* STYLE FOR EVALUATION FORM */

#subheader{
  heigh: 500px;
}

#evalFormDiv{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 2em;
}

#submitFormButton{
    grid-row: 2;
    width: 40em;
    height: 20em;
}
