/* STYLE FOR EVALUATION FORM */

header{
    display: grid;
    align-items: center;
    width: inherit;
    height: 100%;
    border: 2px solid;
    grid-row: 1;
    text-align: center;
}

h1{
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 4em;
}

footer{
    height: auto;
    width: inherit;
    border: 2px solid;
    grid-row: 3;
    font-size: 2em;
    text-align: center;
}

#formHeader{
  height: 300px;
}

#subheader{
  /*height: 150px;*/
  font-size: 3em;
}

#dateName{
  /*height: 10px;*/
  font-size: 3em;
}

#bodyEval{
    display: grid;
    height: 100vh;
    width: 100%;
    /* Här kan man ändra storlek på header, main och footer*/
    grid-template-rows: 10vh 87vh 3vh;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    background-color: white;
}

#evalFormDiv{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 4em;
}

#questionDiv{
  display: grid;
  grid-gap: 5em;
  background: lightgrey;
}

#question{
  font-size: 2em;
}

#rateScale{
  font-size: 1.5em;
}

#radioButtons{
  /*align-items: center;*/
}

#submitFormButton{
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 4em auto;
    grid-gap: 4em;
}
