/* STYLE DOCUMENT */
*{
    margin:0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    width: 100%;
    /* Här kan man ändra storlek på header, main och footer*/
    grid-template-rows: 10vh 87vh 3vh;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    background-color: lightblue;
}

header{
    width: inherit;
    height: 100%;
    border: 2px solid;
    grid-row: 1;
    text-align: center;
}

h1{
    font-size: 3em;
}

main{
    display: grid;
    grid-template-rows: 50% 50%;
    width: inherit;
    height: 100%;
    border: 2px solid;
    grid-row: 2;
    
}

footer{
    height: auto;
    width: inherit;
    border: 2px solid;
    grid-row: 3;
    font-size: 2em;
    text-align: center;
}

#tillProfilButton{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: green;
    margin: 5% ;
    text-align: center;
    font-size: 5em;
    grid-row: 1;
    box-shadow: 5px 5px black;
    border: 2px solid black;
    overflow-y: hidden;
}

#tillProfilButton:hover{
    cursor:pointer;
}

#tillProfilButton h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#skapaProfilButton{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: green;
    margin: 5% ;
    text-align: center;
    font-size: 5em;
    grid-row: 2;
    box-shadow: 5px 5px black;
    border: 2px solid black;
    overflow-y: hidden;
}
#skapaProfilButton:hover{
    cursor:pointer;
}

#skapaProfilButton h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#skapaProfil{
    display: none;
    height: auto;
    width: auto;
    margin: 5%;
    grid-row: 1 / span 2;
    background-color: pink;
    border: 2px solid black;
    box-shadow: 5px 5px black;
}

#skapaProfilForm{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-tempale-coloums: auto;
}

#name{
    height: auto;
    grid-row: 1;
}

#email{
    height: auto;
    grid-row: 2;
}

#age{
    height: auto;
    grid-row: 3;
}

.inputField{
    background-color:white;
    height: 100%;
    border: 3px solid black;
}

label{
    font-size: 3em;
}

.inputField[type="text"], .inputField[type="email"]{
    font-size: 4em;
}

.inputField[type="number"]{
    font-size: 4em;
}

.inputField[type=radio]{
    border: 0px;
    width: 100%;
    height: 5em;

}
#kön{
    grid-row:4;
    display:grid;
}
