/* STYLE DOCUMENT */
*{
    margin:0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    width: 100%;
    /* Här kan man ändra storlek på header, main och footer*/
    grid-template-rows: 10vh 87vh 3vh;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    background-color: white;
}

header{
    display: grid;
    align-items: center;
    width: inherit;
    height: 100%;
    border: 2px solid;
    grid-row: 1;
    text-align: center;
}

h1{
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 4em;
}

main{
    display: grid;
    grid-template-rows: 50% 50%;
    width: inherit;
    height: 100%;
    border: 2px solid;
    grid-row: 2;
    
}

footer{
    height: auto;
    width: inherit;
    border: 2px solid;
    grid-row: 3;
    font-size: 2em;
    text-align: center;
}

#skapaProfilDiv{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 2em;
}

#tillProfilButton{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: green;
    margin: 5% ;
    text-align: center;
    font-size: 5em;
    grid-row: 1;
    box-shadow: 5px 5px black;
    border: 2px solid black;
    overflow-y: hidden;
}

#tillProfilButton:hover{
    cursor:pointer;
}

#tillProfilButton h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#skapaProfilButton{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: green;
    margin: 5% ;
    text-align: center;
    font-size: 5em;
    grid-row: 2;
    box-shadow: 5px 5px black;
    border: 2px solid black;
    overflow-y: hidden;
}
#skapaProfilButton:hover{
    cursor: pointer;
}

#skapaProfilButton h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#skapaProfil{
    display: none;
    grid-row: 1;
    height: auto;
    width: auto;
    margin: 5%;
    grid-row: 1 / span 2;
    background-color: lightgrey;
    border: 2px solid black;
    /*box-shadow: 5px 5px black;*/
}

#skapaProfilForm{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-gap: 1em;
}

#name{
    height: auto;

}

#email{
    height: auto;

}

#age{
    height: auto;

}

#nameParagraph{
    grid-row:1
}.userLogin

#emailParagraph{
    grid-row:2;
}

#ageParagraph{
    grid-row:3;
}

.inputField{
    background-color:white;
    height: 100%;
    border: 3px solid black;
}

label{
    font-size: 3em;
}

.inputField[type="text"], .inputField[type="email"]{
    font-size: 4em;
}

.inputField[type="number"]{
    font-size: 4em;
}

.inputField[type=radio]{
    border: 0px;
    width: 100%;
    height: 5em;

}

#kön{
    grid-row: 4;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 10em 10em;
    grid-gap: 1em;
    align-items: start;
}

#genderLabel{
    grid-row: 1;
    grid-column: 1 / span 2;
}
#male{
    grid-row: 2;
    grid-column: 2;
}
#female{
    grid-row: 3;
    grid-column: 2;
}
#maleLabel{
    grid-row: 2;
    grid-column: 1;
}
#femaleLabel{
    grid-row: 3;
    grid-column: 1;
}
#preferredAgeParagraph{
    grid-row:5;
}

#preferredAge{
    grid-row: 5;
    width: 100%;
    font-size: 5em;
}

#preferredAge option{
    font-size: 50%;
}

#intressen {
    grid-row: 6;
    display: grid;
    width:100%;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto; 
    align-items: start;
    grid-gap: 1em;
    
}

#intressenLabel{
    font-size: 4em;
    grid-column: 1/span 2;
}

#intressen div{
    display: grid;
}

#intressen [type="checkbox"]{
    height: 4em;
    width: 4em;
}

#submitProfileButton{
    grid-row: 2;
    width: 40em;
    height: 20em;
}

#submitProfileButton p{
    font-size: 5em;
    
}

#name, #email, #age{
    width: 70vw;
    height: 8vh;
    caret-color: black;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,1);
    margin: 0 0 10px 0;
}


#myDates{
    display: none;
    grid-row: 1/span 2;
    grid-template-rows: 10% 10% auto auto auto auto;
    width: 90%;
    margin-top: 2em;
    grid-gap:0.5em;
    text-align:center;
}

#myDates h2, #myMatches h2{
    font-size: 5em;
}

#myDates h3, #myMatches h3{
    font-size:3em;
    font-style: italic;
}

#myDates div, #myMatches div{
    display:flex;
    background-color: pink;
    width: 100%;
    height:auto;
    border: 5px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5em;
    
}

#sendContactInfoButton{
    border-radius: 1em;
    border: 5px solid black;
}

#myDates label {
    word-wrap: break-word;
    hyphens: auto;
    font-size: 5em;
    width: 60%;
}

#myMatches label{
    word-wrap: break-word;
    hyphens: auto;
    font-size: 3em;
    width: 60%;
    font-weight: bold;
}

#myDates [type="checkbox"]{
    width: 10em;
    height: 10em;    
}

#myDates #sendContactInfoButton{
    background-color: lightblue;
    width: 100%;
    height: auto;
    font-size: 4em;
}

#myMatches{
    display: none;
    grid-row: 1/span 2;
    grid-template-rows: 10% 10% auto auto auto auto;
    width: 90%;
    margin-top: 2em;
    grid-gap: 0.5em;
    text-align:center;
}



#dateInProgressTemp {
    display: none;
    font-size: 4em;
    text-align: center;
    grid-row:1/span 2;
}

#waitingScreen {
    font-size: 5em;
    text-align: center;
}

#startDateTEMP, #goToEvalTemp{
    height: 20em;
    width: 40em;
    background-color: pink;
}

#mapButton{
    height: 15em;
    width: 35em;
    background-color: powderblue;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50px;
}

#startDateTEMP p, #goToEvalTemp p, #mapButton p{
    font-size: 5em;
}

#currentDateInfo {
    margin-top: 1em;
}

#currentDateInfo{
    word-break: break-word;
}



.dTitle {
    font-size: 1em;
}

.dInfo {
    font-size: 2em;

}

#formHeader{
  
  height: auto;
}

#subheader{
  font-size: 3em;
}

#dateName{
  /*height: 10px;*/
  font-size: 3em;
}

#bodyEval{
    display: grid;
    height: 100vh;
    width: 100%;
    /* Här kan man ändra storlek på header, main och footer*/
    grid-template-rows: 10vh 87vh 3vh;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    background-color: white;
}

#evalFormDiv{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 4em;
  text-align:center;
}

#questionDiv{
  background: lightgrey;
}

#question{
  font-size: 3.5em;
}

#rateScale{
  font-size: 2em;
}

#radioButtons{
  font-size: 2em;
}

input[type=radio] {
  width: 6em;
  height: 6em;
}

#submitFormButton p{
    display: grid;
    align-items: flex-start;
    align-content: stretch;
    grid-gap: 1em;
    font-size: 3em;
}


#ratingButton {
    width: 90%;
    height: 15em;
    align-self: center;
}

#ratingButton p {
    font-size: 3em;
}

#matchning {
    display: grid;
    align-contents: center;
}

#evalFormDiv {
    display: none;
    grid-row: 1 / span 2;
}


#goToDateEvaluation {
    height: 20em;
    width: 40em;
    background-color: pink;
}

#goToDateEvaluation p {
    font-size: 5em;
}

#failedProfile{
    font-size: 3em;
    color: red;
}


#map {
    padding: 10px;
    border: 8px solid;
    display: none;
}

#tableMapHelp {
    font-size: 60%;
    font-style: italic;
    

#myMatches h2{
    font-size: 7em;
    font-weight: bold;
}

#myMatches h3{
    font-size: 4em;
}

#matchInfo label{
    font-size: 3em;
    word-wrap: break-word;
}

.matchNameClass {
    font-weight: bold;
}

